---
import config from "@config/config.json";

const { logo_text, title, base_path } = config.site;
---

<a href={base_path} class="navbar-brand block text-xl font-semibold text-dark">
  {logo_text || title}
</a>
