---
import Logo from "@components/Logo.astro";
import menu from "@config/menu.json";
import Category from "@svgs/Category.astro";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
---

<header style="border-bottom: 1px solid #e5e7eb" class="header">
  <nav class="navbar container px-8 py-6">
    <div class="order-0">
      <Logo />
    </div>

    <ul class="navbar-nav">
      {
        main.map((menu) => (
          <li class="nav-item">
            <a
              aria-label={menu.name}
              href={menu.url}
              class="nav-link flex items-center justify-start gap-2"
            >
              <span class="hidden md:flex">{menu.name}</span>
              <Category className="flex md:hidden" size="24" />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
