---
import Base from "@layouts/Base.astro";
import Book from "@layouts/components/Book.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";

const categories = await getTaxonomy("posts", "categories");

export const CATEGORIES = {
  astro: {
    imageUrl: "public/images/categories/astro-logo.png",
    imageAlt: "Astro Book",
  },
  next: {
    imageUrl: "public/images/categories/next-logo.png",
    imageAlt: "NextJS Book",
  },
  react: {
    imageUrl: "public/images/categories/react-logo.png",
    imageAlt: "React Book",
  },
};
---

<Base title={"Categories"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Categories</h1>
      <div class="book-wrapper flex-col items-center md:flex-row">
        {
          categories.map((category) => (
            <div transition:name={`book-${category}`} class="w-fit">
              <Book
                link={`/programming-journey/categories/${category}`}
                imageUrl={CATEGORIES[category].imageUrl}
                imageAlt={CATEGORIES[category].imageAlt}
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>

<style>
  .book-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    column-count: 2;
    column-gap: 12px;
    padding: 4px;
    justify-content: center;
  }
</style>
