---
import Base from "@layouts/Base.astro";
import Book from "@layouts/components/Book.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";

const categories = await getTaxonomy("posts", "categories");

const CATEGORIES = {
  astro: {
    imageUrl:
      "https://astro-build.gallerycdn.vsassets.io/extensions/astro-build/astro-vscode/2.6.2/1704781732029/Microsoft.VisualStudio.Services.Icons.Default",
    imageAlt: "Astro Book",
  },
  next: {
    imageUrl:
      "https://miro.medium.com/v2/resize:fit:610/1*0N1cRFT9fFjOPEswcYAraw.png",
    imageAlt: "NextJS Book",
  },
  react: {
    imageUrl:
      "https://miro.medium.com/v2/resize:fit:1358/1*CeuWv9fCjD1uTiTuKytnBQ.png",
    imageAlt: "React Book",
  },
};
---

<Base title={"Categories"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Categories</h1>
      <div class="book-wrapper flex-col items-center md:flex-row">
        {
          categories.map((category) => (
            <Book
              link={`/programming-journey/categories/${category}`}
              imageUrl={CATEGORIES[category].imageUrl}
              imageAlt={CATEGORIES[category].imageAlt}
            />
          ))
        }
      </div>
    </div>
  </section>
</Base>

<style>
  .book-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    column-count: 3;
    column-gap: 12px;
    padding: 4px;
  }
</style>
